@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-nova-bg text-white antialiased;
}

main {
  @apply flex-1;
}

.section-padding {
  @apply py-16 md:py-20;
}

.container {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
